#footer {
  padding: 0;
  text-align: center;
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  z-index: 1500;
  background-color: rgb(230, 230, 230)
}

#footer a, #footer p {

  margin: 0;
  color: rgba(0, 0, 0, 0.45);
}

#footer p {
  margin: 0;
  padding-top: 1em;
}
