.UnitViewer p {
  margin-bottom: 1rem;
}

.UnitViewer ul {
  margin: 0;
}

.UnitViewer em {
  font-style: normal;
  color: rgba(0, 0, 0, 0.65);
}

.UnitViewer hr {
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.UnitViewer th, .UnitViewer td
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.UnitViewer th
{
  color: rgba(0, 0, 0, 0.65);
}

.UnitViewer h6 {
  margin-top: 1em;
  margin-bottom: 0;
}

.UnitViewer .unit-header {
  display: inline;
  margin-right: 0.5em;
}

.TraitList {
  color: rgba(0, 0, 0, 0.65);
}